---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";

interface Props {
  break: NonNullable<
    NonNullable<CollectionEntry<"events">["data"]["schedule"]>["items"]
  >[number];
}

const { break: _break } = Astro.props;

const sponsors = await getEntries(_break.sponsors ?? []);
---

<div
  class="flex w-full flex-col gap-2 rounded-lg bg-white/5 px-6 py-5 backdrop-blur-md md:flex-row md:items-center"
>
  <div class="flex w-full flex-col gap-1">
    <p
      class="text-balance font-heading text-base font-medium leading-tight tracking-wider opacity-80"
    >
      {_break.name}
    </p>
    {
      _break.description && (
        <p class="text-balance text-sm tracking-wider opacity-60">
          {_break.description}
        </p>
      )
    }
  </div>
  {
    sponsors.map((sponsor) => (
      <div class="flex flex-col items-center justify-center gap-1">
        <p class="text-2xs font-medium uppercase tracking-wide opacity-40">
          Sponsored by
        </p>
        {sponsor.data.href ? (
          <a href={sponsor.data.href}>
            <Image
              class="rounded-md bg-white/20"
              src={sponsor.data.logos.bgWhite}
              alt={sponsor.data.name}
              width={120}
              height={72}
            />
          </a>
        ) : (
          <Image
            class="rounded-md bg-white/20"
            src={sponsor.data.logos.bgWhite}
            alt={sponsor.data.name}
            width={120}
            height={72}
          />
        )}
      </div>
    ))
  }
</div>
