---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  partners: Array<CollectionEntry<"partners">>;
}

const { partners } = Astro.props;
---

<div
  class="relative mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-4 py-12 md:py-24"
>
  <h2
    id="partners"
    class="scroll-mt-32 text-center font-heading text-lg font-medium uppercase tracking-widest"
  >
    Fork it! Partners
  </h2>

  <div
    class="flex flex-wrap items-center justify-center gap-2 *:w-32 md:gap-4 md:*:w-40"
  >
    {
      partners.map((partner) => {
        if (!partner.data.href) {
          return (
            <div class="opacity-60 brightness-200 grayscale transition duration-300 hover:opacity-100 hover:brightness-100 hover:grayscale-0">
              <Image
                src={partner.data.logos.bgWhite}
                alt={partner.data.name}
                class="rounded-md"
                width={500}
                height={300}
              />
            </div>
          );
        }
        return (
          <a
            target="_blank"
            rel="noreferrer"
            href={partner.data.href}
            class="opacity-60 brightness-200 grayscale transition duration-300 hover:opacity-100 hover:brightness-100 hover:grayscale-0"
          >
            <Image
              src={partner.data.logos.noBg}
              alt={partner.data.name}
              class="rounded-md"
              width={500}
              height={300}
            />
          </a>
        );
      })
    }
  </div>
</div>
