---
import { BackButton } from "@/components/BackButton";
import Schedule from "@/components/Schedule/index.astro";
import EventSubPageLayout from "@/layouts/EventSubPageLayout.astro";
import { getEventsCollection } from "@/lib/events";
import { SEO } from "astro-seo";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return events.map((event) => ({
    params: { id: event.id },
    props: {
      event,
    },
  }));
}

const { event } = Astro.props;

const title = `Schedule | ${event.data.name}`;
const description = `Schedule for the ${event.data.city}, ${event.data.country} event, taking place the ${dayjs(event.data.date).format("DD/MM/YYYY")}. Come enjoy content from the community.`;
---

<EventSubPageLayout event={event}>
  <SEO slot="seo" title={title} description={description} />
  <div class="mx-auto space-y-8 p-4 md:p-8">
    <BackButton href={`/events/${event.id}`} client:load />

    <main class="space-y-2">
      <h2
        class="scroll-mt-32 font-heading text-2xl font-medium uppercase tracking-widest"
      >
        Schedule
      </h2>
      <Schedule event={event} />
    </main>
  </div>
</EventSubPageLayout>
