---
import { BackButton } from "@/components/BackButton";
import Schedule from "@/components/Schedule/index.astro";
import EventSubPageLayout from "@/layouts/EventSubPageLayout.astro";
import { getEventsCollection } from "@/lib/events";
import { ROUTES } from "@/routes.gen";
import { lunalink } from "@bearstudio/lunalink";
import dayjs from "dayjs";
import SEO from "@/components/SEO/index.astro";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return events.map((event) => ({
    params: { id: event.id },
    props: {
      event,
    },
  }));
}

const { event } = Astro.props;

const title = `Schedule | ${event.data._computed.name}`;
const description = `Schedule for the ${event.data._computed.city?.data.name}, ${event.data._computed.country?.data.name} event, taking place the ${dayjs(event.data.date).format("DD/MM/YYYY")}. Come enjoy content from the community.`;
---

<EventSubPageLayout event={event}>
  <SEO slot="seo" title={title} description={description} />
  <div class="mx-auto w-full max-w-screen-sm space-y-8 p-4 md:p-8">
    <BackButton
      href={lunalink(ROUTES.events[":id"].__path, { id: event.id })}
      client:load
    />

    <main class="space-y-2">
      <h1
        class="scroll-mt-32 font-heading text-2xl font-medium uppercase tracking-widest"
      >
        Schedule
      </h1>
      <Schedule event={event} />
    </main>
  </div>
</EventSubPageLayout>
