---
import MainLayout from "@/layouts/MainLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import Prose from "@/components/Prose/index.astro";
import { getNewsCollection } from "@/lib/news";
import { getEntries } from "astro:content";
import defaultImage from "@/assets/images/news.jpeg";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils";
import { BackButton } from "@/components/BackButton";
import { render } from "astro:content";
import { LogoIcon } from "@/components/LogoIcon";
import dayjs from "dayjs";
import JoinTheCommunity from "@/components/JoinTheCommunity/index.astro";
import SEO from "@/components/SEO/index.astro";

export async function getStaticPaths() {
  const news = await getNewsCollection();

  return Promise.all(
    news.map(async (article) => ({
      params: { id: article.id },
      props: {
        article,
        authors: await getEntries(article.data.authors ?? []),
      },
    })),
  );
}

const { article, authors } = Astro.props;
const { Content } = await render(article);
const url = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL(
  Astro.url.pathname + "/dynamic-images/og-image.jpg",
  Astro.site,
);
---

<MainLayout>
  <SEO
    slot="seo"
    title={article.data.title}
    description={article.data.excerpt ?? ""}
    url={url}
    image={ogImage.toString()}
  />
  <ImageBackgroundHero
    src={article.data.featuredImage ?? defaultImage}
    alt=""
    className="h-[80vh] opacity-80"
    blur
  />
  <div
    class={cn(
      "mx-auto w-full max-w-screen-md px-8 md:px-12 py-6",
      article.data.featuredImage &&
        "max-w-screen-lg px-4 pb-4 sm:px-8 md:px-6 md:py-4",
    )}
  >
    <BackButton client:load href="/news" contextLabel="Fork It! News" />
  </div>

  {
    !!article.data.featuredImage && (
      <div class="relative mx-auto w-full max-w-screen-lg px-2 lg:px-6">
        <div
          class="relative flex-1 rounded-lg bg-black transition duration-500"
          style={{
            maskImage: "linear-gradient(180deg, black 20%, transparent 100%)",
          }}
        >
          <div class="pointer-events-none absolute inset-0 flex h-full w-full bg-gradient-to-b from-black/0 to-black" />
          <Image
            src={article.data.featuredImage}
            alt={article.data.title}
            width={895}
            height={500}
            class="aspect-video w-full object-cover"
          />
        </div>
      </div>
    )
  }
  <div
    class={cn(
      "mx-auto w-full flex-1 max-w-screen-md flex flex-col gap-8 pt-4 pb-40 relative z-10 px-8 md:px-12",
      !!article.data.featuredImage && "-mt-24 sm:-mt-56 md:-mt-72",
    )}
  >
    <div class="flex flex-col gap-4">
      <h1
        class="text-balance font-heading text-2xl font-medium tracking-wider md:text-4xl/tight"
      >
        {article.data.title}
      </h1>
      <div
        class="flex flex-col flex-wrap gap-2 md:flex-row md:items-center md:gap-x-6"
      >
        <div class="flex flex-wrap gap-1 text-sm opacity-60">
          <time datetime="2020-03-16">
            {dayjs(article.data.date).format("dddd, MMMM D, YYYY")}
          </time>
        </div>

        {
          authors.length ? (
            <div class="flex flex-wrap gap-x-5 gap-y-3">
              {authors.map((author) => (
                <a
                  href={`/people#${author.id}`}
                  class={cn(
                    "group/author relative z-20 flex items-center gap-x-2.5 text-sm font-medium",
                  )}
                >
                  <img
                    src={author.data.avatar?.src}
                    alt={author.data.name}
                    class="size-6 flex-none rounded-full bg-black"
                  />

                  <span
                    class={cn(
                      "opacity-60 transition group-hover/author:opacity-100",
                    )}
                  >
                    {author.data.name}
                  </span>
                </a>
              ))}
            </div>
          ) : (
            <div class="relative z-20 flex items-center gap-x-2.5 text-sm font-medium">
              <div class="flex size-6 items-center justify-center rounded-full bg-black text-primary">
                <LogoIcon className="size-3" />
              </div>
              <span class="opacity-60">Fork It! Team</span>
            </div>
          )
        }
      </div>
    </div>
    <Prose>
      <Content />
    </Prose>
  </div>
  <div class="py-8 md:py-12">
    <JoinTheCommunity />
  </div>
</MainLayout>
