---
import MainLayout from "@/layouts/MainLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import Prose from "@/components/Prose/index.astro";
import NewsArticleMeta from "@/components/NewsArticleMeta/index.astro";
import ArticleSlider from "@/components/ArticleSlider/index.astro";
import { getNewsCollection } from "@/lib/news";
import defaultImage from "@/assets/images/news.jpeg";
import { Image } from "astro:assets";
import { cn } from "@/lib/utils-client";
import { BackButton } from "@/components/BackButton";
import { render } from "astro:content";
import JoinTheCommunity from "@/components/JoinTheCommunity/index.astro";
import SEO from "@/components/SEO/index.astro";
import { Schema } from "astro-seo-schema";
import { experimental_AstroContainer } from "astro/container";
import { loadRenderers } from "astro:container";
import { getContainerRenderer as mdxContainerRenderer } from "@astrojs/mdx";
import dayjs from "dayjs";
import { getEntry } from "astro:content";
import { ShareButton } from "@/components/ShareButton";
import { buttonVariants } from "@/components/ui/button";
import { LuShare2 } from "react-icons/lu";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";

export async function getStaticPaths() {
  const news = await getNewsCollection();

  return Promise.all(
    news.map(async (article) => ({
      params: { id: article.id },
      props: {
        article,
      },
    })),
  );
}

const { article } = Astro.props;
const { Content } = await render(article);
const url = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL(
  Astro.url.pathname + "/assets/og-image.jpg",
  Astro.site,
);

const allNews = await getNewsCollection();
const currentTags = article.data.tags ?? [];
const matchingTags = (tagsA: string[], tagsB: string[]) =>
  tagsA.filter((tag) => tagsB.includes(tag)).length;
const getRelatedTags = (
  article: (typeof allNews)[number],
  currentTags: string[],
) => {
  return matchingTags(currentTags, article.data.tags ?? []);
};
const relatedNews = allNews
  .filter(
    (otherArticle) =>
      otherArticle.id !== article.id &&
      matchingTags(currentTags, otherArticle.data.tags ?? []),
  )
  .sort(
    (articleA, articleB) =>
      getRelatedTags(articleB, currentTags) -
      getRelatedTags(articleA, currentTags),
  )
  .slice(0, 3);

const renderers = await loadRenderers([mdxContainerRenderer()]);
const container = await experimental_AstroContainer.create({ renderers });
const articleBody = (await container.renderToString(Content))
  // strip html tags
  .replace(/<[^>]*>/g, "")
  .trim();
const wordCount = articleBody.split(" ").length;
const authors = await Promise.all(
  (article.data.authors ?? []).map(async (author) => await getEntry(author)),
);
---

<MainLayout>
  <SEO
    slot="seo"
    title={article.data.title}
    description={article.data.excerpt ?? ""}
    url={url}
    image={ogImage.toString()}
  />
  <Schema
    slot="ld+json"
    item={{
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      articleBody,
      headline: article.data.title,
      wordCount,
      datePublished: dayjs(article.data.date).format("YYYY-MM-DD"),
      abstract: article.data.excerpt ?? "",
      isAccessibleForFree: true,
      author: authors.map((author) => ({
        "@type": "Person",
        name: author.data.name,
      })),
      keywords: article.data.tags ?? [],
    }}
  />
  <ImageBackgroundHero
    src={article.data.featuredImage ?? defaultImage}
    alt=""
    className="h-[80vh] opacity-80"
    blur
  />
  <div
    class={cn(
      "mx-auto w-full max-w-screen-md px-8 md:px-12 py-6",
      article.data.featuredImage &&
        "max-w-screen-lg px-4 pb-4 sm:px-8 md:px-6 md:py-4",
    )}
  >
    <div class="flex items-center justify-between">
      <BackButton
        client:load
        href={lunalink(ROUTES.news.__path, {})}
        contextLabel="Fork It! News"
      />
      <ShareButton
        client:load
        actions={["bluesky", "x", "facebook", "linkedin", "copy"]}
        className={buttonVariants({ variant: "secondary-dark", size: "xs" })}
        pageUrl={url.toString()}
        title="Share this article"
        message={`Checkout this article ${article.data.title} by Fork it!`}
      >
        <LuShare2 />
        <span class="sr-only sm:not-sr-only">Share</span>
      </ShareButton>
    </div>
  </div>

  {
    !!article.data.featuredImage && (
      <div class="relative mx-auto w-full max-w-screen-lg px-2 lg:px-6">
        <div
          class="relative flex-1 rounded-lg bg-black transition duration-500"
          style={{
            maskImage: "linear-gradient(180deg, black 20%, transparent 100%)",
          }}
        >
          <div class="pointer-events-none absolute inset-0 flex h-full w-full bg-gradient-to-b from-black/0 to-black" />
          <Image
            src={article.data.featuredImage}
            alt={article.data.title}
            width={895}
            height={500}
            class="aspect-video w-full object-cover"
          />
        </div>
      </div>
    )
  }
  <div
    class={cn(
      "mx-auto w-full flex-1 max-w-screen-md flex flex-col gap-8 pt-4 pb-40 relative z-10 px-8 md:px-12",
      !!article.data.featuredImage && "-mt-24 sm:-mt-56 md:-mt-72",
    )}
  >
    <div class="flex flex-col gap-4">
      <h1
        class="text-balance font-heading text-2xl font-medium tracking-wider md:text-4xl/tight"
      >
        {article.data.title}
      </h1>
      <NewsArticleMeta newsItem={article} />
    </div>
    <Prose>
      <Content />
    </Prose>
    <NewsArticleMeta newsItem={article} />
  </div>
  {
    !!relatedNews.length && (
      <div class="flex flex-col py-6 md:py-12">
        <div class="mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-6">
          <h2 class="flex items-center gap-2 text-balance font-heading text-3xl font-medium uppercase tracking-wide">
            Related Articles
          </h2>
        </div>
        <ArticleSlider items={relatedNews} />
      </div>
    )
  }
  <div class="py-8 md:py-12">
    <JoinTheCommunity />
  </div>
</MainLayout>
