---
import { formatDateTimeShort } from "@/lib/utils";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import { Badge } from "@/components/ui/badge";
import { HomeNavigation } from "@/components/home-navigation";

const { event } = Astro.props;
---

<div class="relative flex h-[700px] flex-col gap-20">
  {
    event.data.image && (
      <div class="absolute inset-0">
        <Image
          src={event.data.image?.src}
          alt={event.data.image?.alt}
          width={375}
          height={610}
          class="absolute inset-0 -z-10 my-0 h-full min-w-full object-cover object-center"
        />
        <div
          class="absolute inset-0 w-4/5 backdrop-blur-xl"
          style="mask-image: linear-gradient(to right, black 45%, transparent 100%);
           -webkit-mask-image: linear-gradient(to right, black 45%, transparent 100%);"
        />

        <div
          class="absolute inset-0 -z-10"
          style={{
            background: `linear-gradient(0deg, rgba(0, 0, 0, 0.00) 30%, rgba(0, 0, 0, 0.60) 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.00) 60.87%, rgba(0, 0, 0, 0.50) 117.38%),
          linear-gradient(180deg, rgba(0, 0, 0, 0.00) 59.9%, #000 84.87%)`,
          }}
        />
      </div>
    )
  }
  <HomeNavigation />
  <div class="z-10 ml-80 flex min-w-[325px] max-w-[375px] flex-col gap-6 px-4">
    <div>
      <Badge className="h-8 w-fit rounded-md px-3 font-medium">Next Event</Badge
      >
      {
        event.data.date && (
          <p class="my-0 font-heading text-4xl font-medium leading-[54px] text-white">
            {formatDateTimeShort(event.data.date)}
          </p>
        )
      }
      <p class="my-0 font-heading text-2xl font-medium text-white">
        {event.data.name}
      </p>
    </div>
    <div class="flex items-center">
      <Button className="px-3.5">
        <a
          href={event.data.tickets?.href}
          target="_blank"
          class="text-black no-underline"
        >
          Tickets available
        </a>
      </Button>
    </div>
  </div>
</div>
