---
import { Image } from "astro:assets";
import SpeakerPlaceholder from "@/assets/images/people-placeholder.jpeg";
import { type CollectionEntry } from "astro:content";
import { SOCIALS_TYPE_MAP } from "@/content/socials";
import { MdEvent, MdPodcasts } from "react-icons/md";
import { getPersonEvents } from "@/lib/events";
import { getPersonEpisodes } from "@/lib/podcasts";

interface Props {
  person: CollectionEntry<"people">;
  id?: string;
}

const { person, id } = Astro.props;

const events = await getPersonEvents(person, { limit: 3 });
const podcastsEpisodes = await getPersonEpisodes(person, { limit: 3 });
---

<div
  id={id}
  class="flex scroll-mt-20 flex-col gap-5 rounded-lg bg-white/5 p-6 backdrop-blur-md"
>
  <div class="flex items-start gap-4">
    <div class="aspect-square size-24 flex-none overflow-hidden rounded-lg">
      <Image
        src={person.data.avatar ?? SpeakerPlaceholder}
        alt={person.data.name}
        width={160}
        height={160}
      />
    </div>
    <div class="flex flex-col gap-3">
      {
        person.data.forkit?.role === "founder" && (
          <a
            href="/about#organizers"
            class="bg-primary text-2xs w-fit rounded px-1.5 py-1 font-bold uppercase leading-none text-black transition"
          >
            Fork It! Founder
          </a>
        )
      }

      <div class="flex flex-col gap-0.5">
        <p class="font-heading line-clamp-3 text-sm font-medium tracking-wide">
          {person.data.name}
        </p>
        {
          !!person.data.job && (
            <p class="line-clamp-3 text-xs tracking-wide opacity-60">
              {person.data.job}
            </p>
          )
        }
        <slot />
      </div>
      {
        !!person.data.company && (
          <>
            {!!person.data.company.href ? (
              <a
                href={person.data.company.href}
                target="_blank"
                class="hover:text-primary text-xs underline opacity-60 transition hover:opacity-100"
              >
                {person.data.company.title}
              </a>
            ) : (
              <p class="text-xs opacity-60">{person.data.company.title}</p>
            )}
          </>
        )
      }

      {
        !!person.data.socials && (
          <ul class="flex gap-x-2">
            {person.data.socials.map((social) => {
              const Icon = SOCIALS_TYPE_MAP[social.type];

              return (
                <Fragment>
                  <li>
                    <a
                      href={social.href}
                      class="hover:text-primary opacity-60 transition hover:opacity-100"
                      target="_blank"
                    >
                      <span class="sr-only">{social.type}</span>
                      <Icon />
                    </a>
                  </li>
                </Fragment>
              );
            })}
          </ul>
        )
      }
    </div>
  </div>

  {
    !!events.length && (
      <div class="flex flex-col gap-2">
        <h4 class="font-heading text-2xs font-medium uppercase tracking-widest opacity-60">
          Last events
        </h4>
        <ul class="flex flex-col gap-2">
          {events.map((event) => {
            const isOrganizer = !!event.data.organizers?.some(
              (item) => item.id === person.id,
            );
            const isVolunteer = !!event.data.volunteers?.some(
              (item) => item.id === person.id,
            );
            const isSpeaker = !!event.data.speakers?.some(
              (item) => item.id === person.id,
            );
            return (
              <li>
                <a
                  href={`/events/${event.id}`}
                  class="group flex gap-2 text-sm"
                >
                  <MdEvent className="flex-none opacity-40 mt-0.5 transition group-hover:opacity-100" />
                  <span class="group-hover:text-primary opacity-80 transition group-hover:opacity-100">
                    {event.data.name}{" "}
                    <span class="text-2xs flex uppercase text-white opacity-80 transition group-hover:opacity-100">
                      {[
                        isOrganizer && "Organizer",
                        isSpeaker && "Speaker",
                        isVolunteer && "Volunteer",
                      ]
                        .filter(Boolean)
                        .join(", ")}
                    </span>
                  </span>
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
  {
    !!podcastsEpisodes.length && (
      <div class="flex flex-col gap-1">
        <h4 class="font-heading text-2xs font-medium uppercase tracking-widest opacity-60">
          Last podcasts
        </h4>
        <ul>
          {podcastsEpisodes.map((episode) => {
            const isHost = !!episode.data.hosts?.some(
              (item) => item.id === person.id,
            );
            const isGuest = !!episode.data.guests?.some(
              (item) => item.id === person.id,
            );
            return (
              <li>
                <a
                  href={`/podcasts/${episode.id}`}
                  class="group flex gap-2 text-sm"
                >
                  <MdPodcasts className="flex-none opacity-40 mt-0.5 transition group-hover:opacity-100" />
                  <span class="group-hover:text-primary opacity-80 transition group-hover:opacity-100">
                    {episode.data.title}

                    <span class="text-2xs flex uppercase text-white opacity-80 transition group-hover:opacity-100">
                      {[isHost && "Host", isGuest && "Guest"]
                        .filter(Boolean)
                        .join(", ")}
                    </span>
                  </span>
                </a>
              </li>
            );
          })}
        </ul>
      </div>
    )
  }
</div>
