---
import { Image } from "astro:assets";
import SpeakerPlaceholder from "@/assets/images/people-placeholder.jpeg";
import { type CollectionEntry } from "astro:content";

interface Props {
  person: CollectionEntry<"people">;
  id?: string;
}

const { person, id } = Astro.props;
---

<a
  id={id}
  class="group flex scroll-mt-20 flex-col gap-5 rounded-lg bg-white/5 p-6 backdrop-blur-md"
  href={`/people/${id}`}
>
  <div class="flex items-start gap-4">
    <div class="aspect-square size-24 flex-none overflow-hidden rounded-lg">
      <Image
        src={person.data.avatar ?? SpeakerPlaceholder}
        alt={person.data.name}
        width={160}
        height={160}
      />
    </div>
    <div class="flex flex-col gap-3">
      {
        person.data.forkit?.role === "founder" && (
          <span class="w-fit rounded bg-primary px-1.5 py-1 text-2xs font-bold uppercase leading-none text-black transition">
            Fork It! Founder
          </span>
        )
      }

      <div class="flex flex-col gap-0.5">
        <p
          class="line-clamp-3 font-heading text-sm font-medium tracking-wide group-hover:text-primary"
        >
          {person.data.name}
        </p>
        {
          !!person.data.job && (
            <p class="line-clamp-3 text-xs tracking-wide opacity-60">
              {person.data.job}
            </p>
          )
        }
        <slot />
      </div>
      {
        !!person.data.company && (
          <p class="text-xs opacity-60">{person.data.company.title}</p>
        )
      }
    </div>
  </div>
</a>
