---
import SpeakerForCard from "@/components/Schedule/SpeakerForCard.astro";
import { Image } from "astro:assets";
import { getEntries, render } from "astro:content";
import { type CollectionEntry, getEntry } from "astro:content";

interface Props {
  workshopSlug: NonNullable<
    NonNullable<CollectionEntry<"forKidsEvent">["data"]["workshops"]>
  >[number];
}

const { workshopSlug } = Astro.props;

const workshop = workshopSlug
  ? await getEntry("forKidsWorkshop", workshopSlug.id)
  : undefined;

if (!workshop) {
  return;
}

const { Content } = await render(workshop);

const speakers = (
  await getEntries(workshop.data.speakers?.map((speaker) => speaker.id) ?? [])
).map((speaker) => ({
  ...speaker,
  data: {
    ...speaker.data,
    role: workshop.data.speakers?.find((s) => s.id.id === speaker.id)?.role,
  },
}));
---

{
  workshop && (
    <div class="flex w-full flex-col gap-4 rounded-lg bg-white/5 p-4 backdrop-blur-md transition hover:bg-white/10 xs:flex-row sm:px-6 sm:py-5">
      <Image
        src={workshop.data.image.media}
        alt={workshop.data.image.alt || "alt"}
        class="h-fit w-full self-center xs:w-[10rem]"
      />
      <div class="flex flex-col gap-2">
        <p class="text-balance font-heading text-lg font-medium leading-tight tracking-wider text-white transition group-hover:text-for-kids-primary-foreground">
          {workshop.data.title}
        </p>
        <p class="text-md">
          De {workshop.data.ageRange.from} ans à {workshop.data.ageRange.to} ans
        </p>
        {!!speakers.length && (
          <div class="grid grid-cols-2 gap-3 md:grid-cols-3">
            {speakers.map((speaker) => (
              <SpeakerForCard
                name={speaker.data.name}
                avatar={speaker.data.avatar ?? null}
                role={speaker.data.role ?? ""}
              />
            ))}
          </div>
        )}
        <Content />
      </div>
    </div>
  )
}
