---
import MainLayout from "@/layouts/MainLayout.astro";
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import EventsGrid from "@/components/EventsGrid/index.astro";
import EventsList from "@/components/EventsList/index.astro";
import SEO from "@/components/SEO/index.astro";
import { getEventsCollection } from "@/lib/events";
import { getCollection } from "astro:content";
import { EVENT_TYPES } from "@/assets/consts";
import bgImage from "@/assets/images/events.jpeg";
import dayjs from "dayjs";
import { t } from "@/i18n";

export async function getStaticPaths() {
  const events = await getEventsCollection({ without: ["draft"] });
  const forKidsEvent = await getCollection("forKidsEvent");

  const eventTypes = events.map((event) => event.data.type);
  const allTypes = [
    ...eventTypes,
    ...(forKidsEvent.length ? [EVENT_TYPES.FOR_KIDS] : []),
  ];
  const uniqueTypes = [...new Set(allTypes)];

  return uniqueTypes.map((type) => ({
    params: { eventTypeId: type },
  }));
}

const { eventTypeId } = Astro.params;

if (eventTypeId === "for-kids") {
  return Astro.redirect("/fr/events/for-kids");
}

const allEvents = await getEventsCollection({
  without: ["draft"],
});
const eventsByType = allEvents.filter(
  (event) => event.data.type === eventTypeId,
);
const upcomingEvents = eventsByType.filter((event) =>
  dayjs(event.data.date).isAfter(dayjs()),
);
const pastEvents = eventsByType.filter((event) =>
  dayjs(event.data.date).isBefore(dayjs()),
);
---

<MainLayout>
  <SEO
    slot="seo"
    title={`Top Upcoming ${eventTypeId} Tech Events`}
    description={`All Fork it! ${eventTypeId}`}
  />
  <MainPageTitle
    title={`Fork it! ${eventTypeId}`}
    subtitle={`All Fork it! ${eventTypeId}`}
    imageSrc={bgImage}
  />
  <div class="flex flex-col gap-16 pb-40">
    {
      !!upcomingEvents.length && (
        <div class="mx-auto w-full max-w-screen-lg px-4">
          <EventsGrid events={upcomingEvents} title={t("events:upcoming")} />
        </div>
      )
    }
    {
      !!pastEvents.length && (
        <div class="mx-auto w-full max-w-screen-lg px-4">
          <EventsList events={pastEvents} title={t("events:past")} />
        </div>
      )
    }
  </div>
</MainLayout>
