---
import MainLayout from "@/layouts/MainLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import {
  getEventDisplayDate,
  getEventDisplayType,
  getTalksWithVOD,
  getUpcomingMajorEvent,
} from "@/lib/events";
import { getPodcastsEpisodesCollection } from "@/lib/podcasts";
import { Image } from "astro:assets";
import defaultImage from "@/assets/images/events.jpeg";
import aboutBackground from "@/assets/images/about.jpg";
import {
  MdArrowForward,
  MdEvent,
  MdFeed,
  MdOndemandVideo,
  MdPodcasts,
} from "react-icons/md";
import { cn } from "@/lib/utils-client";
import { buttonVariants } from "@/components/ui/button";
import JoinTheCommunity from "@/components/JoinTheCommunity/index.astro";
import JoinNewsletter from "@/components/JoinNewsletter/index.astro";
import ArticleSlider from "@/components/ArticleSlider/index.astro";
import VodSlider from "@/components/VodSlider/index.astro";
import About from "@/components/About/index.astro";

import { getUpcomingEvents } from "@/lib/events";
import SEO from "@/components/SEO/index.astro";
import { HOME_CONFIG } from "@/content/home";
import { getEntries } from "astro:content";
import PartnersBlock from "@/components/PartnersBlock/index.astro";
import { Schema } from "astro-seo-schema";
import { getEntry } from "astro:content";
import { getNewsCollection } from "@/lib/news";
import TiltedCard from "@/components/TiltedCard";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";

const upcomingMajorEvent = await getUpcomingMajorEvent();
const upcomingEvents = (await getUpcomingEvents())
  .filter(
    (event) =>
      event.id !== upcomingMajorEvent?.id && event.data.status !== "cancelled",
  )
  .slice(0, 3);
const allTalks = await getTalksWithVOD({ limit: 4 });
const podcasts = await getPodcastsEpisodesCollection({ limit: 5 });
const news = await getNewsCollection({ limit: 3 });
const partners = await getEntries<"partners">(
  (HOME_CONFIG.partners ?? []).map((partner) => ({
    collection: "partners",
    id: partner,
  })),
);
const afterMovie = await getEntry("events", "2024-france-rouen");
const forKidsAfterMovie = await getEntry("forKidsEvent", "2025-france-rouen-2");
---

<MainLayout>
  <SEO slot="seo" />
  <Schema
    slot="ld+json"
    item={{
      "@type": "WebSite",
      "@context": "https://schema.org",
      name: "Fork it! Community",
    }}
  />
  <!-- HERO -->
  <ImageBackgroundHero
    src={upcomingMajorEvent?.data?.image?.media ?? defaultImage}
    alt={upcomingMajorEvent?.data?.image?.alt ?? ""}
    blur
  />
  <div class="mx-auto w-full max-w-screen-xl px-4">
    <div
      class="relative flex w-full flex-col items-center gap-8 py-16 sm:flex-row sm:py-[12vh] md:px-8 xl:gap-12"
    >
      <div class="flex w-full flex-1 flex-col gap-16 sm:gap-8">
        <div class="flex flex-col gap-4">
          <h1
            class="-mx-[2px] text-balance text-center font-heading text-4xl font-medium uppercase 2xs:text-5xl xs:text-6xl sm:text-left sm:text-5xl xl:text-6xl"
          >
            Global<br /> Developer<br />
            <span class="text-primary">Community</span>
          </h1>
          {
            !upcomingMajorEvent && (
              <p class="text-balance text-center sm:text-left">
                <strong> Fork it! Community’s</strong>{" "}
                <span class="opacity-60">
                  mission is to share computer science knowledge through
                  worldwide events.
                </span>
              </p>
            )
          }
        </div>

        <!-- Next Events -->
        <div class="flex flex-col gap-10 sm:gap-8">
          {
            !upcomingMajorEvent && (
              <div class="flex w-full items-center justify-center sm:justify-start">
                <a
                  href={lunalink(ROUTES.events.__path, {})}
                  title="All the events page"
                  class={cn(buttonVariants(), "gap-2 sm:max-w-56")}
                >
                  Discover all events
                  <MdArrowForward className="group-hover:translate-x-1 transition" />
                </a>
              </div>
            )
          }
          {
            !!upcomingMajorEvent && (
              <a
                href={lunalink(ROUTES.events[":id"].__path, {
                  id: upcomingMajorEvent.id,
                })}
                title="Upcoming major event"
                class={cn(
                  "group relative z-10 flex flex-col gap-3",
                  "max-sm:overflow-hidden max-sm:rounded-lg max-sm:bg-background max-sm:p-6 max-sm:shadow-xl",
                )}
              >
                {!!upcomingMajorEvent.data.image?.media && (
                  <div class="pointer-events-none absolute bottom-0 left-0 right-0 top-0 -z-10 overflow-hidden sm:hidden">
                    <Image
                      src={upcomingMajorEvent.data.image.media}
                      alt=""
                      class={cn(
                        "absolute size-full bg-white/20 object-cover object-center transition duration-500 group-hover:scale-110",
                      )}
                      width={600}
                    />
                    <div class="absolute size-full bg-gradient-to-r from-black/90 to-black/0" />
                    <div
                      class="absolute h-full w-full"
                      style={{
                        backdropFilter: "blur(32px)",
                        maskImage:
                          "linear-gradient(90deg, black 30%, transparent 70%)",
                      }}
                    />
                  </div>
                )}
                <div class="flex flex-col gap-1">
                  <h2 class="font-heading text-2xs uppercase tracking-widest opacity-60">
                    Next
                    {getEventDisplayType(upcomingMajorEvent.data.type)}
                  </h2>
                  <div class="flex flex-col">
                    <div class="font-heading text-lg font-medium sm:text-2xl">
                      {getEventDisplayDate(upcomingMajorEvent)}
                    </div>
                    <div class="-mt-1 font-heading text-sm opacity-60 transition group-hover:text-primary group-hover:opacity-100 sm:text-lg">
                      {upcomingMajorEvent.data._computed.city?.data.name},{" "}
                      {upcomingMajorEvent.data._computed.country?.data.name}
                    </div>
                  </div>
                </div>
                <span class={cn(buttonVariants(), "gap-2 sm:max-w-56")}>
                  {upcomingMajorEvent.data.tickets
                    ? "Tickets available"
                    : "Discover Event"}
                  <MdArrowForward className="group-hover:translate-x-1 transition" />
                </span>
              </a>
            )
          }

          {
            !!upcomingEvents.length && (
              <div class="flex flex-col gap-6 px-6 sm:gap-3 sm:px-0">
                <h2 class="font-heading text-2xs uppercase tracking-widest opacity-60">
                  Other events
                </h2>
                {upcomingEvents.map((event) => (
                  <a
                    href={lunalink(ROUTES.events[":id"].__path, {
                      id: event.id,
                    })}
                    title={`${event.data._computed.city?.data.name}, ${event.data._computed.country?.data.name} event`}
                    class="group flex gap-2"
                  >
                    <MdEvent className="opacity-40 group-hover:opacity-100 transition size-4 mt-0.5" />
                    <div class="flex flex-col">
                      <div class="font-heading font-medium tracking-wide opacity-80 transition group-hover:opacity-100 sm:text-sm">
                        {getEventDisplayDate(event)}
                      </div>
                      <div class="text-xs tracking-wide opacity-60 transition group-hover:text-primary group-hover:opacity-100">
                        {event.data._computed.city?.data.name},{" "}
                        {event.data._computed.country?.data.name}
                      </div>
                    </div>
                  </a>
                ))}
              </div>
            )
          }
        </div>
      </div>

      <div
        class="forkit-image-mask relative -mx-6 flex-[1.5] max-sm:hidden sm:mx-0"
      >
        <Image
          class="aspect-[3/2] w-full bg-background object-cover text-white/40"
          src={upcomingMajorEvent?.data?.image?.media ?? defaultImage}
          alt={upcomingMajorEvent?.data?.image?.alt ??
            "Speaker giving a tech talk in from of attendees"}
          width={960}
          height={640}
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-8 py-12">
    <JoinTheCommunity />
    <JoinNewsletter />
  </div>

  <div class="flex flex-col pb-24 pt-16 md:py-32 md:pt-12">
    <!-- NEWS -->
    {
      !!news.length && (
        <div class="flex flex-col py-6 md:py-12">
          <div class="mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-6">
            <a href={lunalink(ROUTES.news.__path, {})} title="All the podcasts">
              <h2 class="flex items-center gap-2 text-balance font-heading text-3xl font-medium uppercase tracking-wide">
                <MdFeed className="opacity-40" />
                News
              </h2>
            </a>
            <p class="bold max-w-[80ch] text-balance text-sm opacity-60">
              Latest news about the global developer community.
            </p>
          </div>
          <ArticleSlider items={news} />
        </div>
      )
    }

    <!-- PODCASTS -->
    <div class="flex flex-col py-6 md:py-12">
      <div class="mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-6">
        <a href={lunalink(ROUTES.podcasts.__path, {})} title="All the podcasts">
          <h2
            class="flex items-center gap-2 text-balance font-heading text-3xl font-medium uppercase tracking-wide"
          >
            <MdPodcasts className="opacity-40" />
            Podcasts
          </h2>
        </a>
        <p class="bold max-w-[80ch] text-balance text-sm opacity-60">
          Latest episodes about the global developer community. Listen to
          different podcasts in different languages. Learn from people around
          the world.
        </p>
      </div>

      <div class="mx-auto flex w-full flex-col gap-2">
        <div class="hide-scrollbar overflow-auto">
          <div
            class="mx-auto flex w-full max-w-screen-lg gap-4 px-6 py-8 md:gap-6"
          >
            {
              podcasts.map((episode) => (
                <TiltedCard client:visible>
                  <a
                    href={lunalink(
                      ROUTES.podcasts[":id"].__path,
                      {
                        id: episode.id,
                      },
                      { encodeURIComponent: (v) => String(v) },
                    )}
                    class="group relative block size-48 md:size-64"
                    title={episode.data.title}
                  >
                    <Image
                      src={episode.data.cover}
                      alt={episode.data.title}
                      class="absolute inset-0 h-full w-full rounded-md object-cover transition duration-300 group-hover:-translate-y-2 group-hover:shadow-2xl"
                      width={384}
                      height={384}
                    />
                  </a>
                </TiltedCard>
              ))
            }
            {
              podcasts.length < 2 && (
                <div class="relative flex size-48 flex-none items-center justify-center rounded-md bg-white/5 text-xs uppercase tracking-widest text-white/50 md:size-64">
                  Coming soon
                </div>
              )
            }
            <a
              href={lunalink(ROUTES.podcasts.__path, {})}
              class="relative flex w-48 flex-none items-center justify-center gap-2 rounded-md bg-white/5 text-xs uppercase tracking-widest text-white/50 transition duration-500 hover:bg-white/10 md:w-64"
            >
              All podcasts
              <MdArrowForward />
            </a>
            <div class="w-16 flex-none"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- VOD -->
    <div class="flex flex-col py-6 md:py-12">
      <div class="mx-auto flex w-full max-w-screen-lg flex-col gap-2 px-6">
        <a
          href={lunalink(ROUTES.resources.videos.__path, {})}
          title="All the VODs"
        >
          <h2
            class="flex items-center gap-2 text-balance font-heading text-3xl font-medium uppercase tracking-wide"
          >
            <MdOndemandVideo className="opacity-40" />
            VODs
          </h2>
        </a>
        <p class="bold max-w-[80ch] text-balance text-sm opacity-60">
          Latest VODs about the global developer community. Watch different
          videos in different languages. Learn from people around the world.
        </p>
      </div>
      <VodSlider talks={allTalks} />
    </div>
  </div>

  <!-- ABOUT -->
  <div
    class="relative flex flex-col gap-16 overflow-hidden py-16 sm:py-40 md:gap-8"
  >
    <Image
      alt=""
      class="absolute inset-0 h-full w-full -scale-x-100 object-cover mix-blend-color-dodge grayscale"
      src={aboutBackground}
      width={1200}
    />
    <div
      class="absolute inset-0 bg-gradient-to-br from-black/70 via-black/60 to-black/0"
    >
    </div>
    <div
      class="absolute inset-0 h-full w-full"
      style={{
        backdropFilter: "blur(64px)",
        maskImage: "linear-gradient(90deg, black 30%, transparent 70%)",
      }}
    >
    </div>
    <About
      afterMovie={afterMovie}
      href={lunalink(ROUTES.about.__path, {})}
      title={`What is Fork${"\u00A0"}it! Community?`}
      description="Fork it! is a global tech community where real people share honest feedback, real-life experiences, and authentic stories."
      buttonText="About Fork it!"
    />
    <About
      afterMovie={forKidsAfterMovie}
      href={lunalink(ROUTES.fr.events["for-kids"].__path, {})}
      title="What is Fork it! For Kids?"
      description="Fork it! For Kids is a series of events that introduces children to the world of technology and computer science through fun and engaging activities."
      buttonText="About Fork it! For Kids"
    />
  </div>

  <!-- PARTNERS -->
  {
    !!partners.length && (
      <div class="py-12">
        <PartnersBlock partners={partners} />
      </div>
    )
  }
</MainLayout>
