---
import MainLayout from "@/layouts/MainLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import { getNextEvent } from "@/lib/events";
import { getPodcastsCollection } from "@/lib/podcasts";
import { Logo } from "@/components/Logo";

const nextEvent = await getNextEvent();
const podcasts = await getPodcastsCollection();
---

<MainLayout>
  {
    !!nextEvent?.data.image?.src && (
      <ImageBackgroundHero
        src={nextEvent.data.image.src}
        alt={nextEvent.data.image.alt}
        className="h-[80vh]"
      />
    )
  }

  <div class="flex w-full items-center justify-center py-24 md:hidden">
    <Logo className="w-56" />
  </div>

  <div class="mx-auto w-full max-w-screen-sm px-4">
    <div class="flex-1">
      <h1>Upcoming events</h1>
      <a href={`/events/${nextEvent?.id}`}>{nextEvent?.data.name}</a>
    </div>
    <p>
      Excepteur reprehenderit mollit quis ut labore aute exercitation
      adipisicing id. Do tempor est do in ipsum. Occaecat nisi eu enim
      consectetur deserunt ullamco occaecat duis sunt amet dolor dolor. Pariatur
      commodo amet eu enim magna quis nulla in laborum nulla. Sit qui commodo
      excepteur aliquip ullamco dolore dolor cillum amet. Anim deserunt irure
      minim voluptate proident labore deserunt occaecat nostrud culpa pariatur
      voluptate fugiat non in. Anim proident ullamco laborum sint et ipsum
      reprehenderit duis ea voluptate. Lorem incididunt enim deserunt minim amet
      voluptate et amet. Id duis eiusmod voluptate in enim ut enim laborum qui
      ex quis do ad non. Non laborum do ipsum voluptate eu in voluptate.
      Proident ex incididunt fugiat cillum. Incididunt nisi eu culpa
      reprehenderit mollit enim veniam consequat duis elit excepteur id non
      incididunt aliqua. Lorem esse exercitation deserunt adipisicing id. Magna
      ea ea voluptate excepteur minim laborum. Duis sit anim sit dolore culpa
      consectetur consectetur. Labore voluptate elit nisi eu nostrud nostrud
      elit et sunt deserunt. Ex quis id minim dolore sunt amet quis do sint eu
      consectetur consectetur. Laboris officia cillum commodo nulla occaecat
      nulla tempor excepteur in elit est non incididunt. Anim id id ad mollit
      mollit eu occaecat sint incididunt reprehenderit est nostrud aute id. Sint
      velit nisi ullamco ad duis ea. Sunt sunt non occaecat ut id. Ullamco
      aliquip amet tempor culpa pariatur minim ipsum mollit labore pariatur ut
      amet laboris aliqua. Adipisicing dolore sunt et laborum commodo voluptate
      sint ex. Deserunt irure occaecat enim laborum sunt eiusmod sint non aute
      reprehenderit. Non laborum consequat deserunt consequat officia velit
      aliquip duis est est est aliqua sit dolore. Dolor sit amet quis. Aliquip
      dolor consequat sunt ex est deserunt exercitation voluptate. Pariatur
      tempor mollit ullamco cupidatat. Quis excepteur do laborum pariatur elit
      reprehenderit tempor labore veniam. Aliqua irure aliquip commodo et ipsum
      ad irure irure irure cillum eu ad commodo nulla. Proident magna duis
      commodo mollit laborum aute minim occaecat ut nisi. Id ut magna cillum.
      Dolor in irure laboris labore tempor pariatur id cillum aliquip sunt
      fugiat. Ut sint fugiat nostrud non et ipsum proident ea consectetur ut
      esse quis adipisicing adipisicing. Et sunt sunt ea fugiat nulla anim in et
      ex. Ut cupidatat fugiat pariatur. Dolor amet officia culpa reprehenderit.
      Anim voluptate labore ut enim deserunt. Magna duis nulla do nostrud
      pariatur sint. Consectetur ut qui enim tempor ad adipisicing do. Deserunt
      magna nostrud in ad ipsum consectetur officia. Et nulla sit Lorem
      voluptate eiusmod sunt voluptate. Elit ex eu excepteur consectetur cillum
      consequat nostrud consectetur irure nisi id. Labore excepteur nisi
      consectetur proident reprehenderit velit magna consectetur reprehenderit.
      Aute fugiat quis officia sit ad nisi mollit. Magna officia id ea excepteur
      aute eu aute. Laborum nisi laborum id cupidatat aliqua excepteur occaecat
      consequat veniam occaecat velit laborum. Voluptate nisi ea cupidatat. Amet
      qui exercitation pariatur cupidatat. Irure enim eu esse amet irure
      consectetur excepteur ex nostrud. Sint irure ea cillum labore minim. Magna
      velit aliqua fugiat. Proident ea do est dolore exercitation magna culpa.
      Dolor dolore labore do anim nulla incididunt. Consectetur enim incididunt
      duis adipisicing. Culpa consectetur incididunt ullamco. Reprehenderit do
      pariatur commodo aliquip est deserunt ullamco officia deserunt veniam.
      Excepteur sint proident in exercitation aliquip do adipisicing tempor
      pariatur sit dolor voluptate exercitation non irure. Consequat aliqua
      occaecat Lorem aliquip id est nisi consectetur Lorem deserunt. Enim anim
      incididunt laboris duis ullamco esse consectetur ut. Adipisicing cillum et
      nostrud exercitation aliquip proident reprehenderit in elit quis. Ut
      laboris eu cupidatat qui ad tempor duis. Sint ut ullamco excepteur labore.
      Laborum officia ipsum velit magna. Enim duis reprehenderit aute occaecat
      pariatur tempor. Labore laboris ad cillum magna et laboris Lorem aliqua
      laborum consequat amet anim nostrud et. Laborum pariatur duis commodo
      dolor sunt magna. Do ut dolor pariatur minim nisi consectetur. Aliqua
      pariatur ex sunt esse sit culpa ad tempor irure amet ipsum aliqua.
      Adipisicing mollit dolore incididunt voluptate ad magna veniam. Quis ut
      est dolore occaecat eu. Id ut commodo amet enim Lorem non fugiat ut enim.
      Incididunt non elit nostrud laborum et commodo in fugiat cupidatat ullamco
      magna eu ex amet laborum. Consectetur quis est velit dolor consectetur
      exercitation proident sit duis. Aute est enim mollit mollit enim ipsum qui
      minim quis. Non velit magna sint proident ullamco consequat cillum
      occaecat occaecat. Fugiat reprehenderit adipisicing non nulla anim sint
      consectetur nostrud sint aute veniam excepteur tempor. Sit voluptate
      consectetur ut nisi veniam et quis est anim veniam ea laboris excepteur
      Lorem. Cupidatat labore qui adipisicing eiusmod ut nulla non eiusmod
      adipisicing proident qui nostrud. Ad ad deserunt veniam commodo minim.
      Mollit voluptate ex veniam. Quis ex eu aliqua quis reprehenderit sint.
      Exercitation qui labore aliqua est incididunt proident laboris
      exercitation aliqua mollit. Ullamco sit commodo do. In do aliquip veniam
      sint anim cupidatat qui fugiat officia. Enim labore minim velit duis qui
      culpa dolore eu ex magna elit. Do voluptate nulla sit proident irure qui
      sint aliquip occaecat magna sit tempor. Labore deserunt nisi ut
      consectetur ad ullamco esse id laboris nostrud ut nisi ut. Enim dolore
      laborum occaecat exercitation sint mollit id in veniam voluptate
      incididunt. Quis et fugiat nisi reprehenderit dolor culpa. Nostrud sit
      amet enim laborum esse dolor in ea deserunt velit occaecat est anim. Sunt
      esse consequat et incididunt nisi do sit nulla aliqua reprehenderit
      nostrud ad anim. Cupidatat non ad elit occaecat veniam. Deserunt irure
      dolore et Lorem et. Reprehenderit eiusmod ipsum aliqua labore eiusmod do
      nisi ut. Labore excepteur enim ullamco. Ad exercitation dolore ea fugiat
      Lorem Lorem fugiat nulla nisi. Ipsum enim proident cillum eu dolor magna
      aute sint velit qui. Irure ad ipsum duis laborum proident occaecat nulla
      anim Lorem eiusmod in. Veniam do aliqua aute laborum Lorem elit
      consectetur proident nisi cupidatat sint nulla. Adipisicing est quis sit
      nulla nostrud velit culpa elit nostrud Lorem laborum nisi cillum.
      Cupidatat duis enim cupidatat minim sint commodo. Consectetur quis sit
      reprehenderit fugiat. Consequat enim aliquip magna sit minim ipsum esse
      laborum irure cillum laboris ad est sunt. Proident nisi laboris tempor
      deserunt proident adipisicing quis exercitation labore cupidatat. Ex sunt
      nisi labore sint. Minim Lorem consequat quis pariatur elit enim sit fugiat
      fugiat duis sint dolore occaecat amet. Adipisicing laborum aliquip labore
      quis velit nostrud aliqua est proident non labore. Tempor anim quis ut qui
      magna minim id dolor in aute excepteur eiusmod ipsum. Et commodo laboris
      adipisicing consequat reprehenderit id officia eu nisi. Ad culpa nulla
      dolore incididunt ea ipsum. Officia dolore culpa adipisicing ipsum id
      reprehenderit dolore nostrud dolore enim commodo sit. Officia sit nulla
      quis proident fugiat duis tempor culpa consectetur esse sit. Ad voluptate
      culpa non in aute irure consequat exercitation reprehenderit. Eu nulla
      aute aute proident esse duis dolore anim aliqua. Veniam amet enim
      excepteur esse mollit irure do cupidatat consectetur. Tempor incididunt
      fugiat duis ipsum labore irure pariatur culpa pariatur proident sint
      tempor irure. Est mollit eiusmod proident tempor aliqua nisi magna dolor
      cillum. Officia amet cupidatat aute. Ex nulla ipsum qui aute tempor
      exercitation anim. Et tempor dolore est dolore aute aliqua tempor
      reprehenderit nisi officia ea Lorem Lorem. Est in cillum dolor occaecat ad
      elit.
    </p>
  </div>
  <div>
    <h2>Podcasts</h2>
    <ul>
      {
        podcasts.map((podcast) => (
          <li>
            <a href={`/podcasts/${podcast.id}`}>{podcast.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</MainLayout>
