---
import bgImage from "@/assets/images/news.jpeg";
import JoinTheCommunity from "@/components/JoinTheCommunity/index.astro";
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import NewsCard from "@/components/NewsCard/index.astro";
import SEO from "@/components/SEO/index.astro";
import { buttonVariants } from "@/components/ui/button";
import MainLayout from "@/layouts/MainLayout.astro";
import { getNewsCollection } from "@/lib/news";
import { cn } from "@/lib/utils";
import type { GetStaticPathsOptions } from "astro";
import { MdArrowBack, MdArrowForward } from "react-icons/md";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const newsPages = await getNewsCollection();
  return paginate(newsPages, { pageSize: 19 });
}

const { page } = Astro.props;
let hasHighlighted = false;
---

<MainLayout>
  <SEO
    slot="seo"
    title="News"
    description="All the news about Fork it! Community. Conferences feedback, real life experience, we share it all."
  />
  <div class="mx-auto w-full max-w-screen-sm px-4">
    <MainPageTitle
      title="Fork it! News"
      subtitle="Last news about the community"
      imageSrc={bgImage}
    />
  </div>

  <div class="flex flex-1 flex-col">
    <div class="mx-auto w-full max-w-screen-lg pb-40">
      <div class="grid gap-4 px-6 md:grid-cols-2">
        {
          page.currentPage !== 1 && (
            <div class="flex items-center md:col-span-2">
              <h3 class="text-balance text-sm uppercase tracking-widest opacity-60">
                Page {page.currentPage}
              </h3>
              <div class="ml-auto flex gap-2">
                {!!page.url.next && (
                  <a
                    href={page.url.next}
                    class={cn(
                      buttonVariants({ size: "xs", variant: "secondary" }),
                      "size-8 p-0",
                    )}
                  >
                    <MdArrowBack className="size-4" />
                    <span class="sr-only">Older articles</span>
                  </a>
                )}
                {!!page.url.prev && (
                  <a
                    href={page.url.prev}
                    class={cn(
                      buttonVariants({ size: "xs", variant: "secondary" }),
                      "size-8 p-0",
                    )}
                  >
                    <span class="sr-only">Newer articles</span>
                    <MdArrowForward className="size-4" />
                  </a>
                )}
              </div>
            </div>
          )
        }
        {
          page.data.map((newsItem, index) => {
            let shouldHighlight = false;
            if (
              !!newsItem.data.featuredImage &&
              !hasHighlighted &&
              page.data.length !== index + 1
            ) {
              hasHighlighted = true;
              shouldHighlight = true;
            }
            return (
              <NewsCard
                newsItem={newsItem}
                class={cn(shouldHighlight && "md:row-span-2")}
              />
            );
          })
        }
        <div class="flex items-center justify-between md:col-span-2">
          {
            !!page.url.next && (
              <a
                href={page.url.next}
                class={cn(buttonVariants({ variant: "secondary" }), "gap-2")}
              >
                <MdArrowBack /> Older{" "}
                <span class="max-xs:sr-only">articles</span>
              </a>
            )
          }
          {
            !!page.url.prev && (
              <a
                href={page.url.prev}
                class={cn(buttonVariants({ variant: "secondary" }), "gap-2")}
              >
                Newer <span class="max-xs:sr-only">articles</span>
                <MdArrowForward />
              </a>
            )
          }
        </div>
      </div>
    </div>
  </div>

  <div class="py-8 md:py-12">
    <JoinTheCommunity />
  </div>
</MainLayout>
