---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import dayjs from "dayjs";

interface Props {
  event: CollectionEntry<"events">;
}

const { event } = Astro.props;
const partners = (await getEntries(event.data.partners ?? []))
  .filter((p) => !!p)
  .slice(0, 5);
---

<a
  href={`/events/${event.id}`}
  class="group relative z-10 flex gap-2 overflow-hidden rounded-lg border border-black/10 bg-background px-4 py-4 max-sm:flex-col md:px-6"
>
  {
    !!event.data.image?.src && (
      <div class="pointer-events-none absolute bottom-0 left-0 right-0 top-0 -z-10 overflow-hidden">
        <Image
          src={event.data.image.src}
          alt=""
          class="absolute size-full object-cover object-center transition duration-500 group-hover:scale-105"
          width={600}
        />
        <div
          class={cn(
            "absolute size-full bg-gradient-to-r from-black/80 via-black/0",
            partners.length && "to-black/80",
          )}
        />
        <div
          class="absolute h-full w-full"
          style={{
            backdropFilter: "blur(32px)",
            maskImage: "linear-gradient(90deg, black 30%, transparent 70%)",
          }}
        />
      </div>
    )
  }
  <div class="flex flex-1 flex-col">
    <div class="font-heading font-medium">
      {dayjs(event.data.date).format("MMMM DD, YYYY")}
    </div>
    <div
      class="font-heading text-sm opacity-60 transition group-hover:text-primary group-hover:opacity-100"
    >
      {event.data.city}, {event.data.country}
    </div>
  </div>
  {
    !!partners.length && (
      <div class="flex flex-1 flex-wrap items-center gap-2 sm:justify-end">
        {partners.map((partner) => (
          <Image
            class="size-8 sm:size-10"
            src={partner.data.logos.noBgSquare}
            alt={partner.data.name}
            width={100}
          />
        ))}
      </div>
    )
  }
</a>
