---
import MainNavDesktopItem from "./MainNavDesktopItem.astro";
import MainNavDesktopItemMore from "./MainNavDesktopItemMore";
import { MdEvent, MdFeed, MdPodcasts } from "react-icons/md";
import ForktItYellow from "/public/forkit-medium.svg";
---

<div class="hidden md:block">
  <div class="h-16"></div>
  <div class="fixed left-0 right-0 top-0 z-20 flex h-16 flex-col p-2">
    <div
      class="bg-background-blur mx-auto flex w-full max-w-screen-lg flex-1 items-center justify-between rounded-md px-5"
    >
      <a href="/" class="py-2">
        <img src={ForktItYellow.src} alt="" width={120} />
      </a>
      <div class="flex items-center gap-2">
        <MainNavDesktopItem icon={MdEvent} href="/events">
          Events
        </MainNavDesktopItem>
        <MainNavDesktopItem icon={MdFeed} href="/news">News</MainNavDesktopItem>
        <MainNavDesktopItem icon={MdPodcasts} href="/podcasts">
          Podcasts
        </MainNavDesktopItem>
        <MainNavDesktopItemMore
          client:load
          currentPathname={Astro.url.pathname}
        />
      </div>
    </div>
  </div>
</div>
