---
import MainNavDesktopItem from "./MainNavDesktopItem.astro";
import MainNavDesktopItemMore from "./MainNavDesktopItemMore";
import { MdEvent, MdFeed, MdPodcasts } from "react-icons/md";
import ForktItYellow from "/public/forkit-medium.svg";
---

<div class="hidden md:block">
  <div class="h-16"></div>
  <div class="fixed left-0 right-0 top-0 flex h-16 flex-col">
    <div
      class="mx-auto flex w-full max-w-screen-xl flex-1 items-center justify-between px-8"
    >
      <a href="/"> <img src={ForktItYellow.src} alt="" width={120} /></a>
      <div class="flex gap-8">
        <MainNavDesktopItem icon={MdEvent} href="/events"
          >Events</MainNavDesktopItem
        >
        <MainNavDesktopItem icon={MdFeed} href="/news">News</MainNavDesktopItem>
        <MainNavDesktopItem icon={MdPodcasts} href="/podcasts">
          Podcasts
        </MainNavDesktopItem>
        <MainNavDesktopItemMore
          client:load
          currentPathname={Astro.url.pathname}
        />
      </div>
    </div>
  </div>
</div>
