---
import { getSocialsItems } from "@/content/socials";
import { getMainMenuItems } from "@/content/menus";
import dayjs from "dayjs";
import { MdArrowOutward } from "react-icons/md";
import { lunalink } from "@bearstudio/lunalink";
import { ROUTES } from "@/routes.gen";
import { t } from "@/i18n";
import { AssetsModalTrigger } from "@/components/BrandAssets/ModalTrigger";

const menuItems = getMainMenuItems();
---

<footer class="bg-background-blur border-t border-t-black">
  <div
    class="mx-auto flex w-full max-w-screen-lg flex-col items-center gap-6 px-4 py-12 sm:gap-4"
  >
    <p
      class="w-full text-balance text-center text-sm tracking-wider sm:text-left"
    >
      <span class="opacity-60">{t("footer:cta.text")}</span>
      <a
        href="https://github.com/Fork-It-Community/forkit.community"
        target="_blank"
        rel="noreferrer"
        class="font-medium text-white transition hover:text-primary"
      >
        {t("footer:cta.link")}
      </a>
    </p>
    <div class="flex w-full flex-col items-center gap-4 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center gap-x-3 gap-y-0">
        {
          getSocialsItems().map(({ icon: Icon, ...social }) => (
            <a
              href={social.href}
              class="flex items-center gap-2 p-1 text-lg opacity-60 transition hover:text-white hover:opacity-100"
              aria-label={social.label}
              title={social.label}
              target="_blank"
              rel="noreferrer"
            >
              <Icon />
            </a>
          ))
        }
      </div>
      <div class="flex flex-1 flex-col gap-2 sm:-order-1">
        <div
          class="flex flex-wrap items-center justify-center gap-1 gap-y-2 text-xs sm:justify-start"
        >
          {
            menuItems.map((item, index) => (
              <>
                <a
                  class="opacity-60 transition hover:opacity-100"
                  href={item.href}
                >
                  {item.label}
                </a>
                {index < menuItems.length - 1 && (
                  <span class="opacity-20">⋅</span>
                )}
              </>
            ))
          }
          <span class="opacity-20">⋅</span>
          <AssetsModalTrigger client:load>
            <button
              class="flex items-center gap-1 opacity-60 transition hover:opacity-100"
            >
              Logo Assets
            </button>
          </AssetsModalTrigger>
          <span class="opacity-20">⋅</span>
          <a
            class="flex items-center gap-1 opacity-60 transition hover:opacity-100"
            href="https://drive.google.com/drive/folders/1JkxgD0f6fetVdzsjGLLMexTRwRdb3Euv?usp=sharing"
          >
            Media Kit
            <MdArrowOutward className="text-base" />
          </a>
          <span class="opacity-20">⋅</span>
          <a
            class="opacity-60 transition hover:opacity-100"
            href={lunalink(ROUTES["code-of-conduct"].__path, {})}
          >
            Code of Conduct
          </a>
          <span class="opacity-20">⋅</span>
          <a
            class="opacity-60 transition hover:opacity-100"
            href={lunalink(ROUTES["call-for-papers"].guidelines.__path, {})}
          >
            Call For Paper Guidelines
          </a>
        </div>
        <p class="text-center text-xs opacity-50 sm:text-left">
          © {dayjs().format("YYYY")}
          {t("footer:credits")}
        </p>
      </div>
    </div>
  </div>
</footer>
