---
import EventLayout from "@/layouts/EventLayout.astro";
import { getEntries } from "astro:content";
import { SEO } from "astro-seo";
import Hero from "./hero.astro";
import Venue from "./venue.astro";
import type { CollectionEntry } from "astro:content";
import Schedule from "./schedule.astro";
import {
  getSpeakers,
  getEventsCollection,
  getSponsors,
  getPartners,
} from "@/lib/collections";
import { Speakers } from "@/components/speakerDetail";
import { Sponsors } from "@/components/sponsors";
import { Partners } from "@/components/partners";
import { FAQ } from "@/components/faq";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return Promise.all(
    events.map(async (event) => {
      const subPages = event.data.subPages.map((subPage) => {
        return {
          collection:
            "eventsSubPages" as CollectionEntry<"eventsSubPages">["collection"],
          slug: subPage.slug,
        };
      });
      return {
        params: { slug: event.slug },
        props: {
          event,
          subPages: await getEntries(subPages),
        },
      };
    }),
  );
}

const { event } = Astro.props;
const speakers = await getSpeakers(event.data);
const sponsors = await getSponsors(event.data);
const partners = await getPartners(event.data);
---

<EventLayout event={event}>
  <SEO slot="seo" />
  <Hero event={event} />
  <div class="container flex flex-col gap-8">
    <Venue event={event.data} />
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <Schedule event={event.data} />
      {!!speakers && <Speakers speakers={speakers} />}
    </div>
    {!!sponsors && <Sponsors meetup={event.data} sponsors={sponsors} />}
    {!!partners && <Partners allPartners={partners} />}
    {!!event.data.faq && <FAQ faq={event.data.faq} client:load />}
  </div>
</EventLayout>
