---
import EventLayout from "@/layouts/EventLayout.astro";
import { getEventsCollection } from "@/lib/collections";
import { getEntries } from "astro:content";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return Promise.all(
    events.map(async (event) => ({
      params: { slug: event.slug },
      props: {
        event,
        subPages: await getEntries(event.data.subPages),
      },
    })),
  );
}

const { slug } = Astro.params;
const {subPages, event} = Astro.props;
---
<EventLayout event={event}>
  <h1>{event.data.name}</h1>
  <p>{slug}</p>
  <ul>
    {
      subPages.map((subpage) => (
        <li>
        <a href={`/events/${subpage.slug}`}>{subpage.slug}</a>
      </li>
    ))
  }
</ul>
</EventLayout>
