---
import { formatDateTime, formatTime } from "@/lib/utils";
import { MapPin, Calendar } from "lucide-react";

const { event } = Astro.props;
---

<div id="venue">
  <h2>Venue</h2>
  <ul class="flex flex-col gap-2 text-gray-200">
    {
      event.data.date && (
        <li class="flex gap-x-1 text-sm">
          <Calendar className="mt-1 h-5 w-5 flex-none" aria-hidden="true" />
          <span class="flex flex-col">
            <time>{formatDateTime(event.data.date)}</time>
            {event.data.startTime && event.data.endTime && (
              <time class="text-neutral-400">
                {formatTime(event.data.startTime)}-
                {formatTime(event.data.endTime)}
              </time>
            )}
          </span>
        </li>
      )
    }
    {
      event.data.location && (
        <li class="flex gap-x-1 text-sm">
          <MapPin className="mt-1 h-5 w-5" aria-hidden="true" />
          <span class="flex flex-col">
            <p>{event.data.location.name}</p>
            <p class="text-neutral-400">{event.data.location.address}</p>
          </span>
        </li>
      )
    }
    <li>
      <p>
        {event.data.excerpt}
      </p>
    </li>
  </ul>
</div>
