---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import { render, type CollectionEntry } from "astro:content";
import dayjs from "dayjs";

interface Props {
  newsItem: CollectionEntry<"news">;
  class?: string;
}
const { newsItem, class: className } = Astro.props;
const { Content } = await render(newsItem);
---

<article
  class={cn(
    "w-[30rem] aspect-[3/2] max-w-[80vw] flex-none group relative flex flex-col overflow-hidden rounded-lg bg-white/5 backdrop-blur-md transition duration-500 hover:bg-white/10",
    className,
  )}
>
  {
    !!newsItem.data.featuredImage && (
      <div
        class="relative flex-1 bg-black transition duration-500 group-hover:scale-105"
        style={{
          maskImage: "linear-gradient(180deg, black 30%, transparent 80%)",
        }}
      >
        <div
          class={cn(
            "pointer-events-none absolute inset-0 w-full bg-gradient-to-b from-black/0 via-black/70 to-black",
          )}
        />
        <a href={`/news/article/${newsItem.id}`} class="flex h-full w-full">
          <Image
            src={newsItem.data.featuredImage}
            alt={newsItem.data.title}
            width={800}
            height={800}
            class="aspect-video w-full object-cover"
          />
        </a>
      </div>
    )
  }
  <div
    class={cn(
      "relative flex flex-col gap-1 p-6 mt-auto",
      newsItem.data.featuredImage && "-mt-48 max-sm:pt-24",
    )}
  >
    <div class="flex flex-wrap gap-1 text-xs uppercase opacity-60">
      <time datetime="2020-03-16">
        {dayjs(newsItem.data.date).format("dddd, MMMM D, YYYY")}
      </time>
    </div>
    <h3
      class="line-clamp-2 text-balance font-heading text-lg font-medium leading-tight tracking-wide transition duration-500 group-hover:text-primary"
    >
      <a href={`/news/article/${newsItem.id}`}>
        {newsItem.data.title}
        <div class="absolute inset-0 z-10"></div>
      </a>
    </h3>
    <div
      class={cn(
        "prose prose-sm prose-invert line-clamp-6 opacity-80",
        !!newsItem.data.featuredImage && "line-clamp-1",
      )}
    >
      {newsItem.data.excerpt ? <p>{newsItem.data.excerpt}</p> : <Content />}
    </div>
  </div>
</article>
