---
import TiltedCard from "@/components/TiltedCard";
import MainLayout from "@/layouts/MainLayout.astro";
import { getEventByCity, getEventsCollection } from "@/lib/events";
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import SEO from "@/components/SEO/index.astro";
import bgImage from "@/assets/images/events.jpeg";
import EventCard from "@/components/EventCard/index.astro";
import { getEntry } from "astro:content";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return events.map((e) => ({
    params: {
      countryName: e.data?._computed.country?.data.name,
      cityName: e.data.city.id,
    },
  }));
}

const { cityName } = Astro.params;

const city = await getEntry("cities", cityName);
const country = city
  ? await getEntry("countries", city?.data.country.id)
  : null;

const eventsInCountryAndInCity = await getEventByCity(cityName);
---

<MainLayout>
  <SEO
    slot="seo"
    title="Events"
    description="All the Fork it! events, from meetups to full day events, come take a look at what is happening near you."
  />
  <MainPageTitle
    title="Locations"
    subtitle=`All the Fork it! tech events at ${country?.data.name} in ${cityName} `
    imageSrc={bgImage}
  />
  <div class="flex flex-col gap-24 pb-40">
    <div class="flex justify-between">
      {
        !!eventsInCountryAndInCity.length && (
          <div class="mx-auto w-full max-w-screen-sm px-4">
            <div class="flex flex-col gap-2">
              <h2 class="font-heading text-sm font-medium uppercase tracking-widest opacity-60">
                The events of {country?.data.name} in {cityName}
              </h2>
              <div class="flex flex-col gap-3">
                {eventsInCountryAndInCity.map((event) => (
                  <TiltedCard client:visible scaleOnHover={1}>
                    <EventCard event={event} />
                  </TiltedCard>
                ))}
              </div>
            </div>
          </div>
        )
      }
    </div>
  </div>
</MainLayout>
