---
import MainNavMobileItem from "@/components/MainNav/MainNavMobileItem.astro";
import MainNavMobileItemMore from "@/components/MainNav/MainNavMobileItemMore";
import { MdHomeFilled, MdEvent, MdFeed, MdPodcasts } from "react-icons/md";
---

<div class="fixed bottom-0 left-0 right-0 flex bg-background">
  <MainNavMobileItem icon={MdHomeFilled} href="/" exact>
    Home
  </MainNavMobileItem>
  <MainNavMobileItem icon={MdEvent} href="/events">Events</MainNavMobileItem>
  <MainNavMobileItem icon={MdFeed} href="/news">News</MainNavMobileItem>
  <MainNavMobileItem icon={MdPodcasts} href="/podcasts">
    Podcasts
  </MainNavMobileItem>
  <MainNavMobileItemMore client:load currentPathname={Astro.url.pathname} />
</div>
