---
import { Image } from "astro:assets";
import SpeakerPlaceholder from "@/assets/images/people-placeholder.jpeg";
import type { CollectionEntry } from "astro:content";
import { SOCIALS_TYPE_MAP } from "@/content/socials";

interface Props {
  people: CollectionEntry<"people">;
}

const { people } = Astro.props;
---

<div class="flex h-fit w-fit flex-col items-start gap-2">
  <div class="aspect-square overflow-hidden rounded-lg">
    <Image
      src={people.data.avatar ?? SpeakerPlaceholder}
      alt={people.data.name}
      width={160}
      height={160}
    />
  </div>
  <div class="flex flex-col gap-2">
    <div class="flex flex-col gap-0.5">
      <p class="line-clamp-3 font-heading text-sm font-medium tracking-wide">
        {people.data.name}
      </p>
      {
        !!people.data.job && (
          <p class="line-clamp-3 text-xs tracking-wide opacity-60">
            {people.data.job}
          </p>
        )
      }
      <slot />
    </div>
    {
      !!people.data.company && (
        <>
          {!!people.data.company.href ? (
            <a
              href={people.data.company.href}
              target="_blank"
              class="text-xs underline opacity-60 transition hover:text-primary hover:opacity-100"
            >
              {people.data.company.title}
            </a>
          ) : (
            <p class="text-xs opacity-60">{people.data.company.title}</p>
          )}
        </>
      )
    }
    {
      !!people.data.socials && (
        <ul class="flex gap-x-2">
          {people.data.socials.map((social) => {
            const Icon = SOCIALS_TYPE_MAP[social.type];

            return (
              <Fragment>
                <li>
                  <a
                    href={social.href}
                    class="opacity-60 transition hover:text-primary hover:opacity-100"
                    target="_blank"
                  >
                    <span class="sr-only">{social.type}</span>
                    <Icon />
                  </a>
                </li>
              </Fragment>
            );
          })}
        </ul>
      )
    }
  </div>
</div>
