---
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import { EventNav } from "@/components/EventNav";
import { getEventNavItems } from "@/lib/events";
import EventWarningBanner from "@/components/EventWarningBanner/EventWarningBanner.astro";

interface Props {
  title?: string;
  description?: string;
  event: CollectionEntry<"events">;
}

const { title, description, event } = Astro.props;
const navItems = await getEventNavItems(event.id);
---

<RootLayout title?={title} description?={description}>
  <slot name="seo" slot="seo" />
  {
    !!event?.data.image?.src && (
      <ImageBackgroundHero
        src={event.data.image.src}
        alt={event.data.image.alt}
      />
    )
  }
  <div class="absolute inset-0 p-2">
    <ExploreTheCommunity
      eventCity={event.data.city}
      eventCountry={event.data.country}
      eventDate={event.data.date}
      logoUrl={`/events/${event.id}`}
    />
  </div>
  <EventNav
    eventName={event.data.name}
    eventId={event.id}
    items={navItems}
    client:load
  />
  <slot />
  <EventWarningBanner event={event} />
</RootLayout>
