---
import { EventNav } from "@/components/EventNav";
import EventWarningBanner from "@/components/EventWarningBanner/index.astro";
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import Footer from "@/components/Footer/index.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import SEO from "@/components/SEO/index.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import {
  getEventDisplayType,
  getEventNavItems,
  shouldShowCFP,
  shouldShowProspectus,
  shouldShowTickets,
} from "@/lib/events";
import type { CollectionEntry } from "astro:content";
import { motion } from "motion/react";

interface Props {
  event: CollectionEntry<"events">;
  ogImage: URL;
}

const { event, ogImage } = Astro.props;
const navItems = await getEventNavItems(event.id);

const url = new URL(Astro.url.pathname, Astro.site);
const title = `${event.data.name}, ${getEventDisplayType(event.data.type)}`;
---

<RootLayout>
  <slot name="ld+json" slot="ld+json" />
  <SEO
    slot="seo"
    title={title}
    description={event.data.excerpt ?? ""}
    url={url}
    image={ogImage.toString()}
  />
  {
    !!event?.data.image?.src && (
      <motion.div
        client:load
        initial={{ opacity: 0 }}
        animate={{ opacity: 1 }}
        transition={{ duration: 1 }}
      >
        <ImageBackgroundHero
          src={event.data.image.src}
          alt={event.data.image.alt}
        />
      </motion.div>
    )
  }
  <div class="absolute inset-0 p-2">
    <ExploreTheCommunity
      eventCity={event.data.city}
      eventCountry={event.data.country}
      eventDate={event.data.date}
      logoUrl={`/events/${event.id}`}
    />
  </div>
  <EventNav
    eventName={event.data.name}
    eventId={event.id}
    eventMetadata={{
      date: event.data.date,
      status: event.data.status,
      cfp: event.data.cfp,
      tickets: event.data.tickets,
      prospectus: event.data.prospectus,
    }}
    items={navItems}
    shouldShowTicketsButton={shouldShowTickets(event)}
    shouldShowCFPButton={shouldShowCFP(event)}
    shouldShowProspectusButton={shouldShowProspectus(event)}
    client:load
  />
  <div class="flex flex-1 flex-col">
    <slot />
  </div>
  <Footer />
  <EventWarningBanner event={event} />
</RootLayout>
