---
import ExploreTheCommunity from "@/components/ExploreTheCommunity/index.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import EventWarningBanner from "@/components/EventWarningBanner/index.astro";
import Footer from "@/components/Footer/index.astro";
import type { EventComputed } from "@/lib/events";

interface Props {
  event: EventComputed;
}

const { event } = Astro.props;
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  {
    !!event.data.image?.media && (
      <ImageBackgroundHero
        src={event.data.image.media}
        alt={event.data.image.alt}
        blur
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity
      eventCity={event.data._computed.city?.data.name ?? ""}
      eventCountry={event.data._computed.country?.data.name ?? ""}
      eventDate={event.data.date}
      logoUrl={`/events/${event.id}`}
      pageUrl={new URL(Astro.url.pathname, Astro.site).toString()}
    />
  </div>
  <div class="flex flex-1 flex-col">
    <slot />
  </div>
  <Footer />
  <EventWarningBanner event={event} />
</RootLayout>
