---
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import EventWarningBanner from "@/components/EventWarningBanner/index.astro";

interface Props {
  title?: string;
  description?: string;
  event: CollectionEntry<"events">;
}

const { title, description, event } = Astro.props;
---

<RootLayout title?={title} description?={description}>
  <slot name="seo" slot="seo" />
  {
    !!event.data.image?.src && (
      <ImageBackgroundHero
        src={event.data.image.src}
        alt={event.data.image.alt}
        blur
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity
      eventCity={event.data.city}
      eventCountry={event.data.country}
      eventDate={event.data.date}
      logoUrl={`/events/${event.id}`}
    />
  </div>
  <slot />
  <EventWarningBanner event={event} />
</RootLayout>
