---
import { ExploreTheCommunity } from "@/components/ExploreTheCommunity";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import EventWarningBanner from "@/components/EventWarningBanner/index.astro";
import Footer from "@/components/Footer/index.astro";

interface Props {
  event: CollectionEntry<"events">;
}

const { event } = Astro.props;
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  {
    !!event.data.image?.src && (
      <ImageBackgroundHero
        src={event.data.image.src}
        alt={event.data.image.alt}
        blur
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity
      eventCity={event.data.city}
      eventCountry={event.data.country}
      eventDate={event.data.date}
      logoUrl={`/events/${event.id}`}
    />
  </div>
  <div class="flex flex-1 flex-col pb-40">
    <slot />
  </div>
  <Footer />
  <EventWarningBanner event={event} />
</RootLayout>
