---
import ExploreTheCommunity from "@/components/ExploreTheCommunity/index.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import type { CollectionEntry } from "astro:content";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";
import Footer from "@/components/Footer/index.astro";

interface Props {
  forKidsEvent: CollectionEntry<"forKidsEvent">;
}

const { forKidsEvent } = Astro.props;
---

<RootLayout>
  <slot name="seo" slot="seo" />
  <slot name="ld+json" slot="ld+json" />
  {
    !!forKidsEvent.data.image?.media && (
      <ImageBackgroundHero
        src={forKidsEvent.data.image.media}
        alt={forKidsEvent.data.image.alt}
        blur
      />
    )
  }
  <div class="p-2">
    <ExploreTheCommunity
      eventCity={forKidsEvent.data.city}
      eventCountry={forKidsEvent.data.country}
      eventDate={forKidsEvent.data.date}
      logoUrl={`/for-kids-event/${forKidsEvent.id}`}
      pageUrl={new URL(Astro.url.pathname, Astro.site).toString()}
    />
  </div>
  <div class="flex flex-1 flex-col">
    <slot />
  </div>
  <Footer />
</RootLayout>
