---
import MainLayout from "@/layouts/MainLayout.astro";

import { getUpcomingEvents, getUpcomingMeetups } from "@/lib/events";

const upcoming = await getUpcomingEvents();
const upcomingMeetups = await getUpcomingMeetups();
---

<MainLayout>
  <h1>Upcoming Events</h1>
  <div>
    {
      upcoming.map((event) => (
        <a href={`/events/${event.id}`}>
          <h2>{event.data.name}</h2>
          <p>{event.data.date}</p>
          <p>{event.data.location?.name}</p>
        </a>
      ))
    }
  </div>
  <h1>Upcoming Meetups</h1>
  <div>
    {
      upcomingMeetups.map((meetup) => (
        <a href={`/meetups/${meetup.id}`}>
          <h2>{meetup.data.name}</h2>
          <p>{meetup.data.date}</p>
          <p>{meetup.data.location?.name}</p>
        </a>
      ))
    }
  </div>
</MainLayout>
