---
import MainPageTitle from "@/components/MainPageTitle/index.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import bgImage from "@/assets/images/events.jpeg";
import { getPastEvents, getUpcomingEvents } from "@/lib/events";

const upcoming = await getUpcomingEvents();
const past = await getPastEvents();
---

<MainLayout>
  <div class="mx-auto w-full max-w-screen-lg px-6">
    <MainPageTitle title="Events" imageSrc={bgImage} />

    <h2>Upcoming Events</h2>
    <div>
      {
        upcoming.map((event) => (
          <a href={`/events/${event.id}`}>
            <h2>{event.data.name}</h2>
            <p>{event.data.date}</p>
            <p>{event.data.location?.name}</p>
          </a>
        ))
      }
    </div>
    <h2>Past Events</h2>
    <div>
      {
        past.map((event) => (
          <a href={`/events/${event.id}`}>
            <h2>{event.data.name}</h2>
            <p>{event.data.date}</p>
            <p>{event.data.location?.name}</p>
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
