---
import MainLayout from "@/layouts/MainLayout.astro";

import { getUpcomingEvents, getUpcomingMeetups } from "@/lib/events";

const upcoming = await getUpcomingEvents();
const upcomingMeetups = await getUpcomingMeetups();
---

<MainLayout>
  <h1>Upcoming Events</h1>
  <ul>
    {
      upcoming.map((event) => (
        <li>
          <h2>{event.data.name}</h2>
          <p>{event.data.date}</p>
          <p>{event.data.location?.name}</p>
        </li>
      ))
    }
  </ul>
  <h1>Upcoming Meetups</h1>
  <ul>
    {
      upcomingMeetups.map((meetup) => (
        <li>
          <h2>{meetup.data.name}</h2>
          <p>{meetup.data.date}</p>
          <p>{meetup.data.location?.name}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
