---
import EventLayout from "@/layouts/EventLayout.astro";
import { getEventsCollection, getEventSubPagesCollection } from "@/lib/events";
import ImageBackgroundHero from "@/components/ImageBackgroundHero/index.astro";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return Promise.all(
    events.map(async (event) => ({
      params: { id: event.id },
      props: {
        event,
        subPages: await getEventSubPagesCollection(event),
      },
    })),
  );
}

const { event, subPages } = Astro.props;
---

<EventLayout>
  {
    !!event?.data.image?.src && (
      <ImageBackgroundHero
        src={event.data.image.src}
        alt={event.data.image.alt}
      />
    )
  }
  <div>Event page {event.data.name}</div>
  <ul>
    {
      subPages.map((subPage) => (
        <li>
          <a href={`/events/${subPage.id}`}>{subPage.data.title}</a>
        </li>
      ))
    }
  </ul>
</EventLayout>
