---
import { Logo } from "@/components/Logo/Logo";
import { buttonVariants } from "@/components/ui/button";
import EventLayout from "@/layouts/EventLayout.astro";
import { getEventsCollection, getEventSubPagesCollection } from "@/lib/events";
import { getEntries } from "astro:content";
import dayjs from "dayjs";

export async function getStaticPaths() {
  const events = await getEventsCollection();

  return Promise.all(
    events.map(async (event) => ({
      params: { id: event.id },
      props: {
        event,
        subPages: await getEventSubPagesCollection(event),
        speakers: await getEntries(event.data.speakers ?? []),
        talks: await getEntries(event.data.talks ?? []),
      },
    })),
  );
}

const { event, subPages, speakers, talks } = Astro.props;
---

<EventLayout event={event}>
  <div class="flex h-[90svh] flex-col items-center justify-center">
    <div class="flex flex-1 flex-col items-center justify-center gap-8 p-4">
      <Logo className="w-48" />
      <h1 class="flex flex-col gap-2 text-balance text-center font-heading">
        <span class="text-4xl font-medium md:text-6xl">
          {dayjs(event.data.date).format("MMMM DD, YYYY")}
        </span>
        <span class="text-2xl text-primary md:text-4xl"
          >{event.data.city}, {event.data.country}</span
        >
      </h1>
      <div class="flex flex-wrap gap-4">
        <a href="#" class={buttonVariants({})}> Get Your Ticket </a>
        <a href="#" class={buttonVariants({ variant: "ghost" })}> CFP </a>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center gap-2 p-6">
      <h4 class="text-xs uppercase tracking-widest opacity-40">Quick Access</h4>
      <nav class="flex gap-4">
        <a
          href="#venue"
          class="underline decoration-foreground/40 underline-offset-4 opacity-60 hover:text-primary hover:decoration-current hover:opacity-100"
          >Venue</a
        >
        <a
          href="#schedule"
          class="underline decoration-foreground/40 underline-offset-4 opacity-60 hover:text-primary hover:decoration-current hover:opacity-100"
          >Schedule</a
        >
        <a
          href="#schedule"
          class="underline decoration-foreground/40 underline-offset-4 opacity-60 hover:text-primary hover:decoration-current hover:opacity-100"
          >Speakers</a
        >
        <a
          href="#sponsors"
          class="underline decoration-foreground/40 underline-offset-4 opacity-60 hover:text-primary hover:decoration-current hover:opacity-100"
          >Sponsors</a
        >
      </nav>
    </div>
  </div>

  <div class="mx-auto w-full max-w-screen-lg px-6 py-24">
    <div>Event page {event.data.name}</div>
    <ul>
      {
        subPages.map((subPage) => (
          <li>
            <a href={`/events/${subPage.id}`}>{subPage.data.title}</a>
          </li>
        ))
      }
    </ul>
    <hr />
    <div>Speakers</div>
    <ul>
      {speakers.map((speaker) => <li>{speaker.data.name}</li>)}
    </ul>
    <div>Talks</div>
    <ul>
      {talks.map((talk) => <li>{talk.data.title}</li>)}
    </ul>
  </div>
</EventLayout>
