---
import { formatDateTime, formatTime } from "@/lib/utils";
import { Calendar, MapPin } from "lucide-react";
const { meetup } = Astro.props;
---

<div class="flex flex-col gap-2">
  <h1 class="font-heading text-xl">{meetup.data.name}</h1>
  <ul class="flex flex-col gap-2 text-gray-200">
    {
      meetup.data.startDate && (
        <li class="flex gap-x-1 text-sm">
          <Calendar className="mt-1 h-5 w-5 flex-none" aria-hidden="true" />
          <span class="flex flex-col">
            <time>{formatDateTime(meetup.data.startDate)}</time>
            {meetup.data.startDate && meetup.data.endDate && (
              <time class="text-neutral-400">
                {formatTime(meetup.data.startDate)}-
                {formatTime(meetup.data.endDate)}
              </time>
            )}
          </span>
        </li>
      )
    }
    {
      meetup.data.location && (
        <li class="flex gap-x-1 text-sm">
          <MapPin className="mt-1 h-5 w-5" aria-hidden="true" />
          <span class="flex w-3/4 flex-col">
            <p>{meetup.data.location.name}</p>
            <p class="text-neutral-400">{meetup.data.location.address}</p>
          </span>
        </li>
      )
    }
  </ul>
</div>
